[Moodle]
base_url = https://your.moodle.url.here.com
username = your_moodle_username_here
password = your_moodle_password_here

# OPTIONAL CONFIGURATIONS BELOW
[Paths]
# Define relative paths for common Moodle endpoints, in case they're different in your instance.
login_path = /login/index.php
post_login_check_path = /my/
# The script looks for quiz_ids.txt in the script directory by default. Change to your path if needed.
quiz_id_file_path = quiz_ids.txt

[Settings]
# Delay between requests in seconds in case of rate limits. 0.5 seconds should be good enough for most cases.
request_delay_seconds = 0.5
# SSL Verification (true/false). Set to false if using a cert that would fail to validate (such as sef-signed).
verify_ssl = false